.ourSites {
    background: linear-gradient(
        135deg,
        #3a6fc5 0%,
        #58b368 100%
    );
}
@keyframes swim {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

.swim {
  animation: swim 2.5s ease-in-out infinite;
}